.container {
  max-width: 1200px;
  margin: auto;
}

.newWrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-auto-rows: minmax(200px, auto);
}


.newWrapper > div:nth-child(odd){
  /* background-color: #341; */
}

.newWrapper > div:nth-child(even){
  background-color: #222;
}

.mainNewsCard{
  display: grid;
  grid-template-columns: 40% 60%
}