.container {
    max-width: 1200px;
    margin: auto;
  }
  

  .mainImageContainer{
    position: relative;
    width: 100%;
    height: 100%;
  }


.newsInfoText{
  text-align: center;
  font-size: 30px;
  max-width: 800px;
  margin: auto;
  font-weight: bold;
}

.newspaper{
  width: 600px;
  margin: auto;

}

.caption{
  color: #d1d1d1;
  font-size: 12px;
}